<!DOCTYPE html>
<html>
    <head>
        <title>Admin page niagaraServer</title>
        <base href="{$baseurl}">
        <link rel="stylesheet" href="styles/admin.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>Admin-page </h1>            
        <form method='POST'>  
                <fieldset>
                        <legend>Database</legend>
                        <div class='inputContainer'>
                            <label>                            
                                Db-status:
                            </label>
                            {$dbStatusMessage}
                        </div>


                        {if $dbStatus}
                    
                        <div class='inputContainer'>
                            <label>
                                <input name="cleardb" id="cleardb" type="checkbox"> 
                                Clear database - Drop all tables
                            </label>
                        </div>                    

                        <div class='inputContainer'>                    
                            <label>
                                <input name="createdb" id="createdb" type="checkbox"> 
                                Create database structure                            
                            </label>
                        </div>                    


                        <div class='inputContainer'>                    
                            <label>
                                <input name="addtestdata" id="addtestdata" type="checkbox"> 
                                Add test-data to tables
                            </label>
                        </div>                                            

                        <div class='inputContainer'>                    

                            <label>password for admin user:</label>
                            <input name="adminpw" id="adminpw" type="text" value ="admin"> 
                        </div>                    

                        {/if}

            </fieldset>
            <fieldset>
                        <legend>Css-styles</legend>
                        <div class='inputContainer'>                                            
                        <label>
                            <input name="generatecss" id="generatecss" type="checkbox"> 
                            Generate css files from scss definitions
                        </label>
                        </div>                                                                    

            </fieldset>                        

            <fieldset>
                        <legend>Htaccess</legend>
                        <div class='inputContainer'>                                                                    
                        <label>
                            <input name="generatehtaccess" id="generatehtaccess" type="checkbox"> 
                            Generate .htaccess files from scss definitions
                        </label>
                        </div>                                                                    
            </fieldset>                        

                
                
                <input type = "submit" value= "process">  
        </form>  
        <div class = 'message'>{$message}</div>

        <fieldset class='sql'>
            <legend>Reports</legend>

            <h3>EnvironmentSetup report</h3>
            {foreach $environmentSetupReport as $entry}
                <div class='reportEntry {$entry["type"]}'>
                    <div class='reportEntryType'>{$entry['type']}</div>
                    <pre class='reportEntryMessage'>{$entry['message']}</pre>
                </div>
            {/foreach}

            <h3>DataBaseMaintenance report</h3>
            {foreach $dataBaseMaintenanceReport as $entry}
                <div class='reportEntry {$entry["type"]}'>
                    <div class='reportEntryType'>{$entry['type']}</div>
                    <pre class='reportEntryMessage'>{$entry['message']}</pre>
                </div>
            {/foreach}


            <h3>TestDataLoader report</h3>
            {foreach $testDataLoaderReport as $entry}
                <div class='reportEntry {$entry["type"]}'>
                    <div class='reportEntryType'>{$entry['type']}</div>
                    <pre class='reportEntryMessage'>{$entry['message']}</pre>
                </div>
            {/foreach}

        </div>
    </body>
</html>


