<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
         <link rel="stylesheet" href="styles/style.css">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>{$errorcode} - {$message}</h1>    
    </body>
</html>

